h1 {
    text-align: center;
}

.cardContato {
    padding: 4px;
    box-shadow: 2px 2px 2px black;
    height: fit-content;
    width: 250px;
    margin: 0 auto;
}

.cardContato ul {
    list-style-type: none;
}

.cardContato p:not(.descricao) {
    margin: 0;
}

.cardContato ul {
    margin: 3px;
}

.cardContato h3 {
    margin-bottom: 0;
}

.cardContato .descricao {
    margin-top: 0;
    font-style: italic;
    color: grey
}